@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

:root{
    font-family: Lato, Sans Serif;
    color: #e8c22c;
}
/*html,body {
    display: block;
}*/
body {
    font-size: 62.5%; 
    max-width: 1200px;
    margin: auto;
    background-color: #5a5c5a;
    display: block;
}

h1,h2,h3 {
    color: #a87507;
}
h1 {
	text-transform: uppercase;
	font-size: 2.4em;
	text-align: center;
}h2 {
	font-size: 2.5em;
	text-align: center;
}
h3 {
	font-size: 2.2em;
	text-align: center;
}
p {
	text-align: center;
	font-size: 1.8em;
	margin-right: 10px;
	margin-left: 10px;
    color: #e8c22c;
}
a {
	text-align: center;
}
.silver {
    color: silver;
    font-size: 1.2em;
}
header .top-block-header {
    min-height: 40px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap: 4px;
    align-items: center;
    background: linear-gradient(to bottom, #363231, #5a5c5a, #363231);
    padding-right: 8px;
    padding-left: 4px;
}
header div p {
    font-size: 1.2em;
}
.logo {
	max-width: 90%;
	height: auto;
}
.main-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.social-networks a{
	height: 30px;
	display: inline-flex;
	align-items: center;
}
.social-networks a img {
	height: 40px;
	width: 30px;
	padding: 8px;
	margin: 2px;
    display: flex;
}
.social-networks a img:hover {
	height: 48px;
	width: 38px;
	padding: 4px;
	margin: 2px;

}
.navigation-block {
	height: 80px;
	text-transform: uppercase;
    max-width: 250px;
    align-items: center;
    padding: 4px;
    margin: 4px;
}
.navigation-block a {
	text-decoration: none;
	color: silver;
	border: 3px solid transparent;
	border-radius: 4px;
	display: flex;    
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.navigation-block a:hover {
	color: #cf4e08;
	border-color: #cf4e08;
}
.banner {
	font-size: 1.6em;
	padding: 50px 10px 50px 20px;
	background-image: url(https://img3.goodfon.com/wallpaper/nbig/f/98/kuznica-molot-nakovalnya.jpg);
    max-width: 100%;
    background-size: cover;
    min-height: 450px;
    background-position: left right 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner img {
	max-width: 100%;
	height: auto;
}
.banner h2 {
	text-align: left;
}
.banner p {
	text-align: left;
}
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: linear-gradient(to bottom, #363231, #5a5c5a, #363231);
}
.choose-product {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-service img {
    max-width: 90%;
    max-height: 50%;
    display: flex;
    margin: auto;
}
.product-service {
	height: 500px;
	width: 290px;
	border: 2px solid orange;
	border-radius: 8px;
    /*box-shadow: 0 10px 20px #5a5c5a, 0 6px 6px #5a5c5a;*/
}
.product-service p b {
	color: #a34708;
	font-size: 2em;
}
.services a {
	font-size: 1.6em;
}
.navigation-block-services a {
	display: inline-flex;
	justify-content: space-between;
}
#working-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}
.working-steps {
	height: 290px;
	width: 290px;
	border: 2px solid orange;
	border-radius: 8px;
    box-shadow: 0 10px 20px #363231, 0 6px 6px #363231;
}
.working-steps p b {
	color: silver;
	font-size: 4em;
}
.banner-estimate {
	font-size: 1.5em;
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-estimate::after {
  content: "";
  background: url(https://img3.goodfon.com/wallpaper/nbig/f/98/kuznica-molot-nakovalnya.jpg);
  filter: sepia(1) grayscale (1);
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  position: absolute;
  z-index: -1;   
}
#about-us {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: linear-gradient(to bottom, #363231, #5a5c5a, #363231);
}
.our-story {
    display: contents;
}
.our-story img {
    max-width: 90%;
    max-height: 50%;
    display: flex;
    margin: auto;
}
#about-us p {
	text-align: justify;
}

#form div img {
    width: 100%;
    height: auto;
}
#showcase {
    min-height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/*.carousel3 div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}*/
.carousel3 div img{
    width: 100%;
    margin: auto;
}
.carousel-image-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
.carousel3 div button {
    display: inline-flex;
    align-self: center;
}
#form {
    background: linear-gradient(to bottom, #363231, #5a5c5a, #363231);
    margin-bottom: 10px;
}
.btn-primary {
    margin: auto;
}
.countdown {
    width: 25%;
    margin-bottom: 8px;
    margin-left: 20px; 
    color: silver;
    font-size: 1em;
}
.timer-align {
    display: flex;
    flex-direction: column;
    color: silver;
    font-size: 1em;
}
/*
.block-footer {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    align-items: center; 
}
.navigation-block-footer a {
    text-decoration: none;
    color: silver;
    border: 2px solid transparent;
    padding: 2px;
    margin: 4px;
    font-size: 2em;
}
.navigation-block-footer a:hover {
    color: #cf4e08;
    text-transform: bold;
    width: 40px;
    border: 2px solid; 
    border-color: #cf4e08;
    border-radius: 4px;
}
*/
@media (min-width: 640px) {
    .navigation-block nav{
        display: flex;
	    font-size: 1.5em;
	    margin-top: 25px;
    }
    .navigation-block {
        max-width: 400px;
    }
    h1 {
	    font-size: 3em;
	}
    .top-block-header {
    	font-size: 1.5em;
    }
    h2 {
    	font-size: 3em;
    }
    .silver {
    font-size: 2em;
    }
    .timer-align {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    font-size: 1em;
}
    .countdown {
    font-size: 1em;
    }
    .choose-product,.our-story {
    	display: grid;
    	grid-template-columns: repeat(2, 1fr);
    	grid-column-gap: 10px;
    }
    .our-story img {
    width: auto;
    max-height: 350px;
    }
}
@media (min-width: 900px) {
	#showcase {
    min-height: 500px;
    }
    .choose-product {
    	grid-template-columns: repeat(3, 1fr);
    }
    #working-process div {
    	display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	grid-column-gap: 10px;
    }
}
@media (min-width: 1200px) {
	.choose-product {
    	grid-template-columns: repeat(4, 1fr);
    }
        h1 {
	    font-size: 4em;
	}
    .top-block-header {
    	font-size: 2em;
    }
    h2 {
    	font-size: 4em;
    }
    #working-process div {
    	grid-column-gap: 30px;
    }
}


